<ion-header>
  <ion-navbar color="primary" class="z-depth">
    <ion-title style="font-size: 20px">
      Favoritos
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="favs.length > 0">
    <ion-list>

      <ion-item-sliding *ngFor="let item of favs; let i = index">

        <button ion-item style="padding: 0px" (click)="goDetails(item, i)" detail-push>
          <label style="margin-left: 15px; font-size: 12px">
            {{item['NOM_CORTO_PRESTATARIO']}}
          </label>
        </button>

        <ion-item-options side="right">
          <button ion-button color="danger" (click)="dropFav(i)">
            <ion-icon name="trash"></ion-icon>
            Quitar
          </button>
        </ion-item-options>
      </ion-item-sliding>


    </ion-list>
  </div>

</ion-content>